@import "./sn.css";
@import "tailwindcss";

@config "./tailwind.config.ts";

html {
  font-size: 14px;
}

pre {
  @apply select-text cursor-text;
}

@theme {
  --spacing: 4px; /* 0.25 * 16 */
}

@layer base {
  :root {
    @apply cursor-default leading-4 font-normal select-none;

    @-moz-document url-prefix() {
      scrollbar-color: var(--theme-deemphasis) transparent;
    }
  }

  *,
  ::before,
  ::after {
    /* TODO: remove all instances of border-theme-border */
    /* applies default border color */
    @apply border-theme-border;
  }

  ::-webkit-scrollbar {
    @apply w-3 h-3;
  }
  ::-webkit-scrollbar-track {
    @apply bg-transparent;
  }
  ::-webkit-scrollbar-thumb {
    @apply bg-theme-deemphasis/25;
  }
  ::-webkit-scrollbar-thumb:hover {
    @apply bg-theme-deemphasis/50;
  }
  ::-webkit-scrollbar-corner {
    @apply bg-theme-deemphasis/10;
  }
}

@utility no-scrollbar {
  @apply [scrollbar-width:none] [&::-webkit-scrollbar]:hidden;
}

@utility window-drag {
  app-region: drag;
}

@utility -window-drag {
  app-region: no-drag;
}

@utility electron-corner-smoothing-* {
  -electron-corner-smoothing: var(--value([*]));
}

hr {
  @apply text-theme-border;
}
